<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row header">
        <div class="col-sm-2 thumbnail-row">
          <img class="thumbnail" src={{currentBook.thumbnail_url}} alt={{currentBook.title}}>
        </div>
        <div class="col-sm-10 header-row">      
          <h1 class="display-4">{{currentBook.title}}</h1>
          <h2 class="text-muted">{{currentBook.author}}</h2>
          <p class="header-summary">
              {{currentBook.summary}}
          </p>
        </div>
      </div>
      <hr class="my-4">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="reading-slab">
        {{book_text}}
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
