<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row header">
        <div class="col-sm-2 thumbnail-row">
          <img class="thumbnail" src={{currentBook.thumbnail_url}} alt={{currentBook.title}}>
        </div>
        <div class="col-sm-10 header-row">      
          <h1 class="display-4">{{currentBook.title}}</h1>
          <h2 class="text-muted">{{currentBook.author}}</h2>
          <p class="header-summary">
              {{currentBook.summary}}
          </p>
        </div>
      </div>
      <hr class="my-4">
    </div>
  </div>
  <div class="row" [hidden]="hidden">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="reading-slab">
        <h2>Chapter {{pageNumber}} </h2>
        <hr class="my-4">
        <div class="BookText" [innerHtml]="page"></div>
        <div class="text-center text-muted">{{pageNumber}}</div>
      </div>
      <div class="bookNaviButtonsTop">
        <button class="prevPage" (click)='previousPage()'>
          <i class="material-icons">
            arrow_back
          </i>
        </button>
        <button class="nextPage" (click)='nextPage()'>
          <i class="material-icons">
            arrow_forward
          </i>
        </button>
      </div>
        <button id="backToTop" (click)='backToTop()'>
          <i class="material-icons">
            arrow_upward
          </i>
        </button>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center text-muted noContent" [hidden]="!hidden">More adventure coming soon!</div>
  </div>