#main-card-view {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.card {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    -webkit-transition: box-shadow 0.25s ease-in-out 0s;
    transition: box-shadow 0.25s ease-in-out 0s;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.text-hidden {
    display: none;
}

.card:hover {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.25);
}

.noContent {
    color: white!important;
    background-color: #4267b2;
    border: 1px solid #29487d;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.reading-slab {
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.35);
    border-radius: 3px;
    padding: 2rem;
    padding-top: 4rem;
    margin-top: 2vh;
    margin-bottom: 8vh;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 19px;
}

.line {
    border: 1px solid red;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.thumbnail {
    width: 100%;
    border-radius: 5px;
}

.header-summary {
    color: gray;
    font-style: italic;
    width: 30vw;
}

#backToTop {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    margin: 0;
    padding: 0;
}

#backToBooks {
    position: absolute;
    left: 3vw;
    top: 0;
    margin: 0;
    padding: 0;
}

.dropdown-item:hover {
    background-color: #4267b2;
}

.bookNaviButtonsTop {
    position: absolute;
    right: 5vw;
    top: 5vh;
    border: none;
    margin-right: 1rem;
}

.nextPage, .prevPage, #backToTop, #backToBooks {
    width: 4rem;
    height: 4rem;
    border-radius: 50%!important;
    font-size: 1rem;
    outline:none;
    color: white;
    background-color: #4267b2;
    border: 1px solid #29487d;
    border-radius: 3px;
    margin: 5px;
    vertical-align: text-bottom!important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.nextPage:hover, .prevPage:hover, #backToTop:hover, #backToBooks:hover, .noContent:hover  {
    color: #4267b2!important;
    background-color: white;
    border: 1px solid #29487d;
}

.material-icons {
    margin: 0;
    padding: 0;
    outline: 0;
}

.sorryBackButton {
    font-size: 3rem;
}

/*-----------------------------------------------------------*/

@media (max-width: 33em) {
    .reading-slab {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nextPage, .prevPage, #backToTop, .pageNumBetweenArrows {
        width: 2rem;
        height: 2rem;
        font-size: 60%;
    }
}

@media (min-width: 34em) {
    .reading-slab {
        margin-left: 2rem;
        margin-right: 2rem;
    }  
    .nextPage, .prevPage, #backToTop, .pageNumBetweenArrows {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 70%;
        margin-right: 0.5rem;
    }
}

@media (min-width: 48em) {
    .reading-slab {
        margin-left: 3rem;
        margin-right: 3rem;
    }  
    .nextPage, .prevPage, #backToTop, .pageNumBetweenArrows {
        width: 3rem;
        height: 3rem;
        font-size: 80%;
        margin-right: 0.5rem;
    }
}

@media (min-width: 62em) {
    .reading-slab {
        margin-left: 3rem;
        margin-right: 3rem;
    }  
    .nextPage, .prevPage, #backToTop, .pageNumBetweenArrows {
        width: 4rem;
        height: 4rem;
        font-size: 90%;
        margin-right: 0.5rem;
    }
}

@media (min-width: 75em) {
    .reading-slab {
        margin-left: 4rem;
        margin-right: 4rem;
    }  
    .nextPage, .prevPage, #backToTop, .pageNumBetweenArrows {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 100%;
        margin-right: 0.5rem;
    }
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup:hover{
    text-decoration: underline;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}