<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ready for an Adventure? <i class="em-svg em-face_with_cowboy_hat"></i></h1>
    <p class="lead">Select one of our books and jump right in!</p>
    <hr class="my-4">
  </div>
</div>
<div class="card-columns" id="main-card-view">
  <a class="whole-card-link" routerLink="/read">
    <div class="card" *ngFor="let b of books">
      <img class="card-img-top" src="{{b.thumbnail_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{b.title}}</h5>
        <h6 class="text-muted">{{b.author}}</h6>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </a>
</div>