#main-card-view {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.card {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    -webkit-transition: box-shadow 0.25s ease-in-out 0s;
    transition: box-shadow 0.25s ease-in-out 0s;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.card:hover {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.25);
}

.card-title {
    margin-bottom: 4px;
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.whole-card-link {
    color: black;
}

.display-4 {
    margin-bottom: 0;
}

.card-summary {
    color: gray;
    font-style: italic;
}

/*-----------------------------------------------------------*/

@media (max-width: 33em) {
    .em-face_with_cowboy_hat {
        height: 6vh;
        width: 6vh;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .em-face_with_cowboy_hat {
        height: 7vh;
        width: 7vh;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .em-face_with_cowboy_hat {
        height: 8vh;
        width: 8vh;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    .em-face_with_cowboy_hat {
        height: 9vh;
        width: 9vh;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    .em-face_with_cowboy_hat {
        height: 10vh;
        width: 10vh;
    }
}