.navbar {
    background-color: #4267b2 !important;
    border-bottom: 1px solid #29487d;
    color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.navbar a, #nav-books {
    color: white;
}

.activated-link {
    background-color: white;
    border-radius: 20px;
    color: black !important;
}

.my-sm-0 {
    padding-bottom: 0;
}